.share-button {
    position: fixed;
    right: 1.25rem;
    top: 6.875rem;
    z-index: 99;
  button {
    padding: 0.625rem;
    border: 1px solid #fff;
    border-radius: 0.625rem;
    color: #fff;
    cursor: pointer;

    &:hover {
        opacity: .3;
    }
  }
}
